* {
    background-color: #01162b;
    box-sizing: border-box;
}

.rectangle {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 100px;
  background: #d2dbebFF;    
}

.shapeCircle {
  position: absolute;
  left: 600px;
  top: 50px;
  width: 600px;
  height: 80px;
  background: #00385aFF;
  border-start-start-radius: 100px;
  border-start-end-radius: 100px;
  border-end-start-radius: 100px;
  border-end-end-radius: 100px;    
}

.fullstackdev {
    size: 500px 0;
    position: absolute;
    left: 388px;
    top: 315px;
    width: 504px;
    color: #6a90b4;
}

.fullstack {
    font-family: Syne Mono;
    font-style: normal;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -2;
    text-transform: uppercase;
}

.dev {
    font-family: Syne Mono;
    font-style: normal;
    font-size: 80px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 3;
    text-transform: uppercase;
}